.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: $color-default-white;
  text-transform: uppercase;
  cursor: pointer;
  font-family: $ff-robotocondensed;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  user-select: none;

  &:focus {
    outline: 2px solid $color-focus-outline;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
  }
}
