.header {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: relative;
  z-index: 10;
}

.header--fixed {
  position: fixed;
  top: 0;
  width: 100%;

  @include vp-1023 {
    position: relative;
  }
}

.header__navigation {
  padding-top: 28px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 9%;
    align-items: flex-start;
  }

  @include vp-767 {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 11%;
  }
}


.header__logo {
  display: block;
  margin-right: 12px;
  align-self: start;

  @include vp-1023 {
    margin-right: auto;
  }

  @include vp-767 {
    margin-top: 5px;
  }
}

.header__logo img {
  width: 215px;
  height: 55px;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.header__contacts-list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 45px;
  row-gap: 10px;
  margin-left: -20px;

  @include vp-1023 {
    margin: 0;
    column-gap: 20px;
  }
}

.header__contacts-link {
  color: $color-default-white;
  display: flex;
  width: fit-content;

  @include vp-1023 {
    padding: 10px;
  }

  &:hover {
    color: $color-default-blue;
  }
}

.header__link-text {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.header__contacts-link span {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.header__button {
  font-family: $ff-robotocondensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: transparent;
  padding: 10px 15px;
  border: 1px solid $color-default-white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 7px;
  margin-right: 15px;
  user-select: none;
  height: fit-content;
  align-self: start;

  &:hover {
    color: $color-default-blue;
    border-color: $color-default-blue;
  }

  @include vp-1023 {
    display: none;
  }
}
