.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  display: none;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &_opened {
    display: flex;
    flex-direction: column;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    width: 100%;
    min-height: 100vh;
    padding-top: 146px;
    padding-bottom: 84px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;
    left: -8px;
    background-color: $color-default-blue;
    border-radius: 3px;
    margin: 0 auto;
    width: 500px;
    height: fit-content;
    padding: 38px 40px 42px 42px;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-default-blue;
    border: none;
    cursor: pointer;

    svg {
      fill: $color-default-white;
    }

    &:focus {
      outline: 2px solid $color-background-dark;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
